################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AventOfCode2020/.vs/AventOfCode2020/v16
/AventOfCode2020/AventOfCode2020/bin/Debug/netcoreapp3.1
/AventOfCode2020/AventOfCode2020/obj/Debug/netcoreapp3.1
/AventOfCode2020/AventOfCode2020/obj
AventOfCode2020/.vs/AventOfCode2020/DesignTimeBuild/.dtbcache.v2
/AventOfCode2020/.vs/AdventOfCode2020/v15/Server/sqlite3
/AventOfCode2020/.vs/AdventOfCode2020/v15
/AventOfCode2020/AventOfCode2020/bin/Debug/netcoreapp2.1
/AventOfCode2020/.vs/AdventOfCode2020/DesignTimeBuild
